html {
    --Pumpkin: #f58e49;
    --Mahogany: #92311d;
    --Honey: #faca5b;
    --Rust: #c45e4a;
    --Cream: #ffe5bf;
    --Intangible: #b7b7b7;

    --Good: #78b473;
    --Okay: #faca5b;
    --Poor: #e04b2d;
}
