html {
    --Pumpkin: #F58E49;
    --Mahogany: #92311D;
    --Honey: #FACA5B;
    --Rust: #C45E4A;
    --Cream: #FFE5BF;
    --Intangible: #B7B7B7;
    
    --Good: #78B473;
    --Okay: #FACA5B;
    --Poor: #E04B2D;
}